<div class="row ">

  <jw-modal id="loginModal" [isLogin]="true">
    <app-iniciar-session (onCloseEvent)="closeModal('loginModal')"></app-iniciar-session>
  </jw-modal>

  <div class="col-lg-12 text-center login-btn" *ngIf="!checkLoggedIn()">
    <button class="btn btn-outline-light" (click)="openModal('loginModal')">Iniciar Sesión</button>
  </div>

  <div class="col-lg-12 text-center login-btn" *ngIf="checkLoggedIn()">
    <button class="btn btn-outline-light" (click)=logOut()>Cerrar Sesion</button>
  </div>


</div>

