<div class="row ">

  <jw-modal id="loginModal" [isLogin]="true">
    <app-iniciar-session (onCloseEvent)="closeModal('loginModal')"></app-iniciar-session>
  </jw-modal>
  <!--
  <div class="row col-lg-12 login-style" *ngIf="!checkLoggedIn()" >
    <div class="col-lg-6 center">
      Usuario <input type="text" name="username" [(ngModel)]="username" >
    </div>
    <div class="col-lg-6 center">
      Password <input type="password" name="password" [(ngModel)]="password" >
    </div>

  </div>


  <div class="col-lg-12 text-center login-btn" *ngIf="!checkLoggedIn()">
    <button class="btn btn-outline-light" (click)=checkLogin()>Login</button>
  </div>
-->
  <div class="col-lg-12 text-center login-btn" *ngIf="!checkLoggedIn()">
    <button class="btn btn-outline-light" (click)="openModal('loginModal')">Iniciar Sesión</button>
  </div>

  <div class="col-lg-12 text-center login-btn" *ngIf="checkLoggedIn()">
    <button class="btn btn-outline-light" (click)=logOut()>Cerrar Sesion</button>
  </div>


</div>

