.nav_color{
  color:white;
  font-weight: 600;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#mymenu
{
  display: flex;
align-items: center;
justify-content: space-evenly;

}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  border: white;
}


@media (max-width: 991px){
  #navbarNav {
  z-index: 1;
  text-align: center;
  }

}
