<div class="container-fluid" id="proyectos">

    <div class="row inner" id="title">

      <div class="col-lg-12 text-center">
        <h1>Proyectos realizados</h1>
      </div>

    </div>

</div>

<div class="row">
  <app-btnshowexp
  bgcolor='#19657e'
  border="none"
  text="Agregar Proyecto"
  color="white"
  (onBbtnClick)="openModal('proyModal')"
  >
  </app-btnshowexp>
</div>

<div class="row ">
  <jw-modal id="proyModal">
    <div class="col-12" *ngIf ="checkLoggedIn()">

      <app-project-item

        (editEvent)= "addProject($event)"
        buttonText="Agregar Proyecto"
        [allTecnologies] = allTecnologies
        [showEditProject]=true
        [showEditBtn]=false
        (deleteEvent)="closeModal('proyModal');"

      >
      </app-project-item>

    </div>
  </jw-modal>
</div>

<div class="row ">

  <div class="col-lg-12">

    <app-project-item

      *ngFor="let project of projects"
      [project] = project
      [allTecnologies] = allTecnologies
      (deleteEvent)="deleteProject(project)"
      (editEvent)= "editProject($event)"
    >
    </app-project-item>

  </div>

</div>

