<button
  class="button-x"
  (click)="onClick()"
  *ngIf="checkLoggedIn()"
>
X
</button>


<div
  class="modal"
  style="color: black;"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="contenedor">
        <div class="modal-header">
          <h4 class="modal-title">¿Está seguro que desea Eliminar?</h4>
        </div>
        <div class="modal-body">
          <p>Esta operación no tiene vuelta atrás</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  (click)="closePopup()">
            Cancelar
          </button>
          <button type="button" class="btn btn-danger"
                  (click)="onConfirm()">
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
