#footer {
  padding-left: 0%;
  padding-right: 0%;
 }

.row{
  padding-top: 0.5%;
  --bs-gutter-x: 0;
}

div {
  background-color: #19657ea4;
}

.container-fluid {
  padding-left: 0%;
}

.button-submit{
  display: inline-block;
  border-radius: 15px;
  background-color:#ca032e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin:20px;
  opacity: 0.75;
}
.editbtn{
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
  margin: 3px;
}

input{

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:#19657ea4;
  color:#ffffff;
  border: 2px solid #ffffffa4;
  border-radius: 30px;
  margin: auto;
  width: 100%;
  margin: 5px;
  margin-top: 5px;
  padding: 2px;
  font-size: 19px;
  text-align: center;
}


.transpBg{
  background-color: transparent;
}

.contactInfo{
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-left: 15px;
  color:white;
}

.copyrigth{
  display: flex;
  justify-content: flex-start;
  padding-right: 15px;
  padding-left: 15px;
  color:white;
}

.social-logos{
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 15px;
  align-items: center;
}

.logos-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}



@media (max-width:767px) {
  #footer-top{
    display: flex;
    flex-direction: column-reverse;
  }
}
