<div class="container-fluid">

  <div class="row inner" id="title">

    <div class="col-lg-12 text-center">
      <h1>Experiencia Laboral</h1>
    </div>

  </div>

</div>

<div class="row">
  <app-btnshowexp
  bgcolor='#19657e'
  border="none"
  text="Agregar Experiencia"
  color="white"
  (onBbtnClick)="openModal('expModal')"
  >
  </app-btnshowexp>
</div>

<!-- sin modal
<div class="row">
  <app-btnshowexp
  bgcolor="{{showAddExp ? '#7e1921' : '#19657e'}}"
  border="none"
  text="{{showAddExp ? 'Cerrar' : 'Agregar Experiencia'}}"
  color="white"

  (onBbtnClick)="toggleAddExp()"
  (onBbtnClick)="openModal('custom-modal-1')"
  *ngIf="hasRoute('/')"
  >
  </app-btnshowexp>
</div>
-->

<!-- TODO : Reemplazar esto por un experiencia item
 <app-addexp
  (addExpEvent) = "addExp($event)"
 ></app-addexp>-->

  <div class="row ">
      <jw-modal id="expModal">

  <!-- sin modal
        <div class="col-12" *ngIf ="showAddExp&&checkLoggedIn()"></div>
  -->
    <!--  <div id="closeModalCont">
        <button id="closeModalBtn"(click)="closeModal('custom-modal');">Cerrar</button>
      </div>
  -->
      <div class="col-12" *ngIf ="checkLoggedIn()">

        <app-experiencia-item

          (editEvent)= "addExp($event)"
          buttonText="Agregar Experiencia"
          [showEditExp]=true
          [showEditBtn]=false
          (deleteEvent)="closeModal('expModal');"

        >
        </app-experiencia-item>

      </div>
    </jw-modal>
  </div>

<div class="row ">

  <div class="col-lg-12">

    <app-experiencia-item

      *ngFor="let exp of exps"
      [exp] = exp
      (deleteEvent)="deleteExp(exp)"
      (editEvent)= "editExp($event)"

    >
    </app-experiencia-item>

  </div>

</div>




