<div class="row">

  <h1>Experiencia Laboral</h1>

  <div class="col-lg-11">
    <ul>

      <li>
        <h2>Trabajo 1</h2> - <h3>(years)</h3>
      </li>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolores quaerat, nobis numquam architecto provident, omnis rem minus nisi reiciendis odit eaque sed aperiam unde fugiat repellat optio cupiditate qui?
      </p>

    </ul>
    <ul>

      <li>
        <h2>Trabajo 2</h2> - <h3>(years)</h3>
      </li>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolores quaerat, nobis numquam architecto provident, omnis rem minus nisi reiciendis odit eaque sed aperiam unde fugiat repellat optio cupiditate qui?
      </p>

    </ul>
    <ul>

      <li>
        <h2>Trabajo 3</h2> - <h3>(years)</h3>
      </li>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolores quaerat, nobis numquam architecto provident, omnis rem minus nisi reiciendis odit eaque sed aperiam unde fugiat repellat optio cupiditate qui?
      </p>

    </ul>
  </div>


</div>
