<div class="row addexp">

  <form class="inline" (ngSubmit)="onSubmit()" *ngIf ="showAddExp">

    <div class="form-control">
      <label for="text">Nombre de la empresa</label>
      <input
        type="text"
        name="empresa"
        id="empresa"
        placeholder="Agregar nombre de la empresa"
        [(ngModel)]="empresa"
      />
    </div>

    <div class="form-control">
      <label for="text">Nombre de la empresa</label>
      <input
        type="text"
        name="pathlogo"
        id="pathlogo"
        placeholder="Ingrese el path correspondiente al logo de la empresa"
        [(ngModel)]="pathlogo"
      />
    </div>

    <div class="form-control">
      <label for="fechaInicio">Inicio</label>
      <input
        type="date"
        name="inicio"
        id="inicio"
        placeholder="Fecha de Inicio (MM-AAAA)"
        [(ngModel)]="inicio"
      />
    </div>

    <div class="form-control">
      <label for="fechaFin">Fin</label>
      <input
        type="date"
        name="fin"
        id="fin"
        placeholder="Fecha Fin (MM-AAAA) o ACTUAL"
        [(ngModel)]="fin"
      />
    </div>

    <div class="form-control">
      <label for="nombrePuesto">Nombre del Puesto</label>
      <input
        type="text"
        name="puesto"
        id="puesto"
        placeholder="Agregar nombre del puesto"
        [(ngModel)]="puesto"
      />
    </div>

    <div class="form-control">
      <label for="descripcion">Descripcion</label>
      <textarea
      name="descripcion"
      id="descripcion"
      cols="30"
      rows="10"
      placeholder="Agregar descripcion del puesto"
      [(ngModel)]="descripcion">
      </textarea>
    </div>

    <input type="submit" value="Guardar Experiencia" class="btn btn-block btn-primary" />


  </form>


</div>




