<div class="row">
  <div class="d-flex justify-content-around ">

      <a href={{persona.linkedin_link}} class="logos-container"><img src="../../../../assets/img/Logos/linkedin.png" alt="" class= "img-fluid social-logos"></a>
      <a href={{persona.github_link}} class="logos-container"><img src="../../../../assets/img/Logos/github.png" alt="" class= "img-fluid social-logos"></a>
      <a href={{persona.facebook_link}} class="logos-container"><img src="../../../../assets/img/Logos/facebook.png"  alt="" class= "img-fluid social-logos"></a>
      <a href={{persona.instagram_link}} class="logos-container"><img src="../../../../assets/img/Logos/instagram.png"  alt="" class= "img-fluid social-logos"></a>
      <a href={{persona.twitter_link}} class="logos-container"><img src="../../../../assets/img/Logos/twitter.png" alt="" class= "img-fluid social-logos"></a>


  </div>
</div>




