<div class="row">
  <div class="d-flex justify-content-around ">

      <a href="" class="logos-container"><img src="../../../../assets/img/Logos/linkedin.png" alt="" class= "img-fluid social-logos"></a>
      <a href=""class="logos-container"><img src="../../../../assets/img/Logos/github.png" alt="" class= "img-fluid social-logos"></a>
      <a href=""class="logos-container"><img src="../../../../assets/img/Logos/facebook.png"  alt="" class= "img-fluid social-logos"></a>
      <a href=""class="logos-container"><img src="../../../../assets/img/Logos/instagram.png"  alt="" class= "img-fluid social-logos"></a>
      <a href=""class="logos-container"><img src="../../../../assets/img/Logos/twitter.png" alt="" class= "img-fluid social-logos"></a>


  </div>
</div>




