.social-logos{
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 80%;
  max-height: 80%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.row {
  margin-bottom: 0%;
  --bs-gutter-x: 0;
}
.div{
  margin-bottom: 0%;
}

.logos-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


@media (max-width:767px) {
  .img-fluid{
    max-width: 70%;
    max-height: 70%;
  }
}
