<div class="d-flex experiencia-item">

  <div class="flex-shrink-0">
      <img src="{{exp.pathlogo}}" alt="Logo"  class="img-fluid img-logos">
  </div>

  <div class="flex-grow-1 ms-3">

    <div id="empresa">
      <h2 class=" d-inline">{{exp.empresa}}</h2> <h5 class="d-inline" d-inline><small class="text-muted"><i>    {{exp.inicio}} hasta {{exp.fin}}</i></small></h5>
    </div>

    <h4>{{exp.puesto}}</h4>
    <p> {{exp.descripcion}} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi odit fugiat unde neque nam illum voluptatum nesciunt ad rerum dolore suscipit, ratione amet dolorem atque quod ex voluptate autem vero?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi odit fugiat unde neque nam illum voluptatum nesciunt ad rerum dolore suscipit, ratione amet dolorem atque quod ex voluptate autem vero? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi odit fugiat unde neque nam illum voluptatum nesciunt ad rerum dolore suscipit, ratione amet dolorem atque quod ex voluptate autem vero?</p>


    </div>

</div>

<!--
<div class="row">
  <div class="col-lg-1  justify-content-center">

    <img src="{{exp.pathlogo}}" alt="" class="img-fluid">

  </div>

  <div class="col-lg-10">

    <div class="row">
      <h2>{{exp.empresa}}</h2>
    </div>

    <div class="row">
      <h3>{{exp.puesto}}</h3>
    </div>

    <div class="row">
      <h4>{{exp.inicio}} hasta {{exp.fin}} </h4>
    </div>

    <div class="row">

      <p>
        {{exp.descripcion}}
      </p>

    </div>

  </div>


</div>
-->
