<div class="row education-item ">
    <div class="d-flex " id="edu-item-inner">

      <div class="flex-shrink-0">
        <img src="{{education.pathlogo}}" alt="- Logo"  class="img-fluid img-logos"  *ngIf = "imagenes[0]==null">
        <img src={{imagenes[0]}} alt="- Logo" class="img-fluid img-logos" *ngIf = "imagenes[0]!=null">
      </div>

      <div class="flex-grow-1 ms-3">

        <div id="titulo" class="row">
          <div class="col-9" id="eduResp">
            <h2 class=" d-inline" style="text-align: center">{{education.titulo}}</h2>
            <h5 class="d-inline" style="text-align: center" d-inline><small class="text-muted"><i>    {{education.inicio}} hasta {{education.fin}}</i></small></h5>
          </div>

          <div class="col-2"  *ngIf ="checkLoggedIn()">
            <app-editbtn
              (click)= "onToggleEditEducation()"
              *ngIf="showEditBtn"
            ></app-editbtn>

          </div>

          <div class="col-1" *ngIf ="checkLoggedIn()">
            <app-deletebtn
              *ngIf="showDelete"
              (click)= "onDelete(education)"
            ></app-deletebtn>
          </div>

        </div>

        <h4>{{education.institucion}}</h4>
        <p> {{education.descripcion}}</p>

      </div>
    </div>

    <div class="addeduc" *ngIf ="showEditEducation&&checkLoggedIn()">

      <form class="inline" (ngSubmit)="onSubmit()" >

        <div class="form-control">
          <label for="nombreTitulo">Título obtenido</label>
          <input
            type="text"
            name="titulo"
            id="titulo"
            placeholder="Agregar nombre del título"
            [(ngModel)]="education.titulo"
            required maxlength="60"     
            #titulo="ngModel"
            class="form-control"
            [ngClass]="{'is-invalid': titulo.invalid,
            'is-valid': !titulo.invalid}"
          />
          <div *ngIf="titulo.invalid"
              class="alert">
            <p *ngIf="titulo.errors?.['required']" class="text-warning">
              El  título obtenido es requerido
            </p>
          </div>
        </div>

        <div class="form-control">
          <label for="text">Nombre de la Institución</label>
          <input
            type="text"
            name="institucion"
            id="institucion"
            placeholder="Agregar nombre de la Institución"
            [(ngModel)]="education.institucion"
            required maxlength="100"
            #institucion="ngModel"
            class="form-control"
            [ngClass]="{'is-invalid': institucion.invalid,
            'is-valid': !institucion.invalid}"
          />
          <div *ngIf="institucion.invalid"
            class="alert">
          <p *ngIf="institucion.errors?.['required']" class="text-warning">
            El nombre de la Institución es requerido
          </p>
        </div>
        </div>

        <div class="form-control">
          <label for="text">Logo de la Institución</label>
          <input type="file" accept=".png, .jpg,.jpeg" (change)="cargarImagen($event)" id="agregarImg" >
          <input
            type="text"
            name="pathlogo"
            id="pathlogo"
            placeholder="Ingrese el path correspondiente al logo de la Institución"
            [(ngModel)]="education.pathlogo"
            (change)="onPathLogoChange()"
            #logo="ngModel"
            class="form-control is-valid"
          />
        </div>
        <div id="fechas">
          <div class="form-control">
            <label for="fechaInicio">Inicio</label>
            <input
              type="month"
              name="inicio"
              id="inicio"
              placeholder="Fecha de Inicio (MM-AAAA)"
              [(ngModel)]="education.inicio"
            />
          </div>

          <div class="form-control">
            <label for="fechaFin">Fin</label>
            <input
              type="month"
              name="fin"
              id="fin"
              placeholder="Fecha Fin (MM-AAAA) o ACTUAL"
              [(ngModel)]="education.fin"

            />
          </div>

        </div>



        <div class="form-control">
          <label for="descripcion" class="form-control" [ngClass]="{'is-invalid': descripcion.invalid,
          'is-valid': !descripcion.invalid}" >Descripcion</label>
          <div class="row">
              <textarea
              name="descripcion"
              id="descripcion"
              cols="100"
              rows="10"
              placeholder="Agregar descripcion"
              [(ngModel)]="education.descripcion"
              required maxlength="1600"     
              #descripcion="ngModel" 
              >
              </textarea>
              <div *ngIf="descripcion.invalid" class="alert">
                <p *ngIf="descripcion.errors?.['required']" class="text-warning">
                  La descripcion de la educacion es requerida
                </p> 
              </div>
          </div>
        </div>

        <input type="submit" value="Guardar Cambios" class="button-submit" />


      </form>


    </div>


  </div>
