  <div class="row project-item ">
      <div class="d-flex ">

          <div class="flex-grow-1 ms-3">

              <div id="proyecto" class="row">
              <div class="col-9" id="proyResp">
                  <h2 class=" d-inline" style="text-align: center">{{project.titulo}}</h2>
                  <h5 class="d-inline" style="text-align: center"  d-inline><small class="text-muted"><i>{{project.fecha}}</i></small></h5>
                  <div class="row">
                    <a href={{project.projectLink}}>Link</a>
                  </div>

              </div>

              <div class="col-2" *ngIf ="checkLoggedIn()">
                  <app-editbtn
                  (click)= "onToggleEditProject()"
                  *ngIf="showEditBtn"
                  ></app-editbtn>

              </div>

              <div class="col-1" *ngIf ="checkLoggedIn()">
                  <app-deletebtn

                  *ngIf="showDelete"
                  (click)= "onDelete(project)"

                  ></app-deletebtn>
              </div>

              </div>
              <div class="row flex-shrink-0" id="proyTecImgContainer">

                  <div class="col-xl-8 col-lg-12" [ngClass]="{'hideOnMobile': showEditProject&&checkLoggedIn()}">
                      <h4>Tecnologías Utilizadas</h4>

                      <div class="row skills-container" id="skill-cont-card">
                        <div class="skills" *ngFor="let tecno of project.tecnologias">
                          <img src={{tecno.pathlogo}} class="img-logos" [class.img-fluid]="tecno.imgFluid" [ngStyle]="{'max-height.px': tecno.maxHeight}" alt="">
                        </div>
                      </div>
                      <p>  {{project.descripcion}}</p>
                  </div>

                  <div class="flex-shrink-0 col-xl-4 col-lg-12" id="proyImgContainer">
                      <img src={{project.pathimg}}  alt="proyecto"  class="img-fluid img-proy"  *ngIf = "imagenes[0]==null">
                      <img src={{imagenes[0]}} alt="- Logo" class="img-fluid img-proy" *ngIf = "imagenes[0]!=null">
                  </div>

              </div>
          </div>
      </div>

      <div class="addProj" *ngIf ="showEditProject&&checkLoggedIn()">

        <form class="inline" (ngSubmit)="onSubmit()" >

          <div class="form-control" >
            <label for="text">Tilulo del Proyecto</label>
            <input
              type="text"
              name="proyecto"
              id="proyecto"
              placeholder="Agregar nombre de la proyecto"
              [(ngModel)]="project.titulo"
              required maxlength="100"
              #proyecto="ngModel"
              class="form-control"
              [ngClass]="{'is-invalid': proyecto.invalid,
              'is-valid': !proyecto.invalid}"
            />
            <div *ngIf="proyecto.invalid"
                class="alert">
              <p *ngIf="proyecto.errors?.['required']" class="text-danger">
                El nombre de la empresa es requerido
              </p>
            </div>
          </div>

          <div class="form-control col-2">
            <label for="anio">Año</label>
            <input
              type="number"
              min="1900" max="2022" step="1" maxlength="4"
              name="anio"
              id="anio"
              placeholder="Año"
              [(ngModel)]="project.fecha"
              required maxlength="60"
              #anio="ngModel"
              class="form-control"
              [ngClass]="{'is-invalid': anio.invalid,
              'is-valid': !anio.invalid}"
            />
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="onActualChange()"  [checked]="actual" >
              <label class="form-check-label" for="flexSwitchCheckDefault">En desarrollo</label>
            </div>
            <div *ngIf="anio.invalid"
                class="alert">
              <p *ngIf="anio.errors?.['required']" class="text-danger">
                El año es requerido
              </p>
              <p *ngIf="anio.errors?.['max']" class="text-danger">
                El año debe ser menor a 2023
              </p>
              <p *ngIf="anio.errors?.['min']" class="text-danger">
                El año debe ser mayor a 1900
              </p>
            </div>
          </div>

          <div class="form-control col-10" >
            <label for="text">Imagen</label>
            <input type="file" accept=".png, .jpg,.jpeg" (change)="cargarImagen($event)" id="agregarImg" >
            <input
              type="text"
              maxlength="255"
              name="pathimg"
              id="pathimg"
              placeholder="Agregar link de imagen del Proyecto"
              [(ngModel)]="project.pathimg"
              (change)="onPathLogoChange()"
              #img="ngModel"
              class="form-control is-valid"
            />
          </div>

            <label class="col-12" for="text" *ngIf ="showTecno" >Tecnologías Utilizadas</label>

            <div class="row skills-container">
              <div class="skills" *ngFor="let tecno of project.tecnologias">
                <app-deletebtn
                (click)= "onDeleteTecno(tecno)"
                id="deleteBtnTec"
                ></app-deletebtn>
                <img src={{tecno.pathlogo}} class="img-logos" [class.img-fluid]="tecno.imgFluid" [ngStyle]="{'max-height.px': tecno.maxHeight}" alt="" >

              </div>

            </div>

            <form [formGroup]="form" (ngSubmit)="addTecno()" id="tecForm">
              <label for="allTecnologiesFiltred">Elija Tecnologia para Agregar :</label>
              <select formControlName="allTecnologiesFiltred" id="allTecnologiesFiltred">
                <option *ngFor="let tecnologia of allTecnologiesFiltred; let i = index" [value]="allTecnologiesFiltred[i].name" selected=true >
                  {{allTecnologiesFiltred[i].name}}
                </option>
              </select>

              <button type="submit" id="agregarTec">Agregar</button>
            </form>


          <div class="form-control">
            <label for="nombrePuesto">Link del Proyecto</label>
            <input
              type="text"
              name="link"
              id="link"
              placeholder="Agregar un Link del Proyecto"
              [(ngModel)]="project.projectLink"
              #link="ngModel"
              class="form-control is-valid"

            />
          </div>

          <div class="form-control">
            <label for="descripcion" class="form-control" [ngClass]="{'is-invalid': descripcion.invalid,
            'is-valid': !descripcion.invalid}">Descripcion</label>
            <div class="row">

              <textarea
              name="descripcion"
              id="descripcion"
              cols="100"
              rows="10"
              placeholder="Agregar descripcion del puesto"
              [(ngModel)]="project.descripcion"
              required maxlength="1600"
              #descripcion="ngModel"
              >
              </textarea>
              <div *ngIf="descripcion.invalid" class="alert">
                <p *ngIf="descripcion.errors?.['required']" class="text-danger">
                  La descripcion del proyecto es requerida
                </p>
              </div>
            </div>
          </div>

          <input type="submit" value="Guardar Cambios" class="button-submit" />


        </form>


      </div>

  </div>
