h1 {
    margin: 25px;
  }

  .row{
    --bs-gutter-x: 0;
  }

  #title{
    color: white;
    border-top:4px solid #346b80;
    border-top-right-radius: 20px;
  }

  #agregar, #title, .inner{
   background-color:#5c90a3;
  }

  .container-fluid {
    padding-left: 0%;
    padding-top: 0.5%;
    padding-right: 0%;
    background-color: white;
    color: white;
  }

