<div class="container-fluid">
  <div class="row inner" id="title">

    <div class="col-lg-12 text-center">
      <h1>Habilidades</h1>
    </div>

  </div>

  <div class="row inner centeritems" >

    <app-btnshowexp
      bgcolor="{{showAddSkill ? '#7e1921' : '#19657e'}}"
      border="1px solid #FFFFFF"
      color="{{showAddSkill ? 'white'  : 'white' }}"
      text="{{showAddSkill ? 'Cerrar' : 'Agregar Habilidad'}}"
      (onBbtnClick)="onToggleAddskill()"
      *ngIf="!canEdit"
      class="col-10 d-flex"
    >
    </app-btnshowexp>

    <app-editbtn
      border="1px solid #FFFFFF"
      style="padding: 5px;"
      class="col-2 centeritems"
      (onBbtnClick)="onToggleEditskill()"
    ></app-editbtn>

  </div>

  <div class="row inner" >

    <div class="add col-lg-2 col-md-4 col-sm-6" *ngIf ="showAddSkill&&checkLoggedIn()">
      <app-skill-item
        class="col-12 skill-item "
        (editEvent)= "saveSkill($event)"
        buttonText="Agregar Habilidad"
        [showEditSkill]=true
        [showDelete]=false
      ></app-skill-item>
    </div>

    <app-skill-item
      *ngFor="let skill of skills"
      buttonText="Guardar Cambios"
      [skill] = skill
      [showEditSkill]=showEditSkill
      (editEvent)= "editSkill($event)"
      [showDelete]=true
      (deleteEvent)="deleteSkill($event)"
      class="skill-item col-lg-2 col-md-4 col-sm-6"
    ></app-skill-item>

  </div>

</div>
