.row{
  --bs-gutter-x: 0;
}

.centeritems{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  background-color: #19657e;

}

#title{
  /*border-top:4px solid #49879c; */
  border-top:4px solid #ffffffa4;
  border-top-right-radius: 20px;
  border-bottom: 2px solid #ffffffa4 
  /*border-bottom: 4px solid #3e7b8f;*/
}

.container-fluid {
  padding-left: 0%;
  padding-top: 0.5%;
  padding-right: 0%;
  background-color:#5c90a3;
  color: white;
}

.skill-item{
  text-align : center;

}

.add {
  border: 1px dashed #ffffffa4;
  border-radius: 10px;

}
