<div class="container-fluid">


  <div class="row inner">


      <app-skill-item
        class="skill-item col-2"
        *ngFor="let skill of skills"
        [skill] = skill
        (EditEvent)= "editSkill($event)"

      ></app-skill-item>



<!--TO DO / Borrar estos ultimos

    <div class="col-2">

      <circle-progress
      [percent]="20"
      [radius]="80"
      [imageSrc]="'../assets/img/Logos/Skills/html5w2.png'"
      [imageHeight]="80"
      [imageWidth]="80"

      ></circle-progress>

    </div>

    <div class="col-2">

      <circle-progress
      [percent]="70"
      [radius]="80"
      [imageSrc]="'../assets/img/Logos/Skills/html5wOriginal.png'"
      [imageHeight]="80"
      [imageWidth]="55"

      ></circle-progress>


    </div>

-->




  </div>

  <p>https://khuanitabright.github.io/Portfolio/</p>
  <p>https://alvarotrigo.com/blog/html-css-timelines/</p>
</div>
