.row{
  padding-top: 0.5%;
}

p{
  font-size: 18px;
  margin: 15px;
}
div {
  background-color:#19657ea4;
  color: #ffffff;
}

#acercademi {
  margin: 25px;
}

#myPhoto{

  border-radius: 100%;

}

@media (min-width:576px) {

  #myPhoto{
    margin-top: -39.3%;
    border-radius: 100%;
    margin-left: 0%;
    max-height: 70%;
  }

}

