
<div class="container-fluid" id="header">
  <div class="row" id="header-top">

    <div class="col-lg-2">

      <app-logo-arg-prog></app-logo-arg-prog>

    </div>

    <div class="col-lg-8">
      <div class="persData" *ngIf = "showEdit&&loggedIn">
        <label  for="text">Linkedin :</label>
        <input  type="text" placeholder="" [(ngModel)]="persona.linkedin_link"/>
      </div>
      <div class="persData" *ngIf = "showEdit&&loggedIn">
        <label for="text">Github :</label>
        <input type="text" placeholder="" [(ngModel)]="persona.github_link"/>
      </div>
      <div class="persData" *ngIf = "showEdit&&loggedIn">
        <label for="text">Facebook :</label>
        <input type="text" placeholder="" [(ngModel)]="persona.facebook_link"/>
      </div>
      <div class="persData" *ngIf = "showEdit&&loggedIn">
        <label for="text">Instagram: </label>
        <input type="text" placeholder="" [(ngModel)]="persona.instagram_link"/>
      </div>
      <div class="persData" *ngIf = "showEdit&&loggedIn">
        <label for="text">Twitter: </label>
        <input type="text" placeholder="" [(ngModel)]="persona.twitter_link"/>
      </div>
    </div>

    <div class="col-lg-2">

        <app-sociallink [persona] = persona></app-sociallink>


        <app-login-bar></app-login-bar>

        <div class="row editbtn">
          <app-editbtn
          border="1px solid #FFFFFF"
          class="col-12 editbtn"
          (onBbtnClick)="onToggleEditPerfil()"
          ></app-editbtn>
        </div>
        <div class="row editbtn">
        <input *ngIf = "showEdit&&loggedIn" value="Guardar Cambios" class="button-submit" (click)="onSave(persona)" />
        </div>
    </div>
  </div>


  <div class="row">

    <div class="col-12">

      <app-banner
        [persona] = persona
        class="app-banner"
        (newBannerImgEvent)="addNewBanner($event)"
        [showEdit]="showEdit&&loggedIn"
      ></app-banner>

    </div>


  </div>

</div>

